<button mat-raised-button color="primary" (click)="goBack()">Go back to setup</button>

<div class="result">
  <h1>Result Component</h1>
  <p>The {{data.resultType}} of {{data.shape.name}} is <strong>{{result}}</strong></p>
</div>
