<div class="container">
  <div class="title">
    <h1>Setup Component</h1>
  </div>
  <div class="form">
    <div>
      <mat-form-field>
        <mat-label>Choose shape</mat-label>
        <mat-select [(value)]="shape">
          <mat-option *ngFor="let shape of shapes" [value]="shape">
            {{shape}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-radio-group [(ngModel)]="resultType">
        <mat-radio-button value="area">Area</mat-radio-button>
        <mat-radio-button value="circuit">Circuit</mat-radio-button>
      </mat-radio-group>
    </div>

    <div>
      <div *ngIf="shape === 'circle'">
        <mat-form-field>
          <mat-label>Type radius</mat-label>
          <input matInput type="number" name="radius" [(ngModel)]="a" />
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="getResult()">Get result</button>
      </div>


      <div *ngIf="shape === 'square'">
        <mat-form-field>
          <mat-label>Type side value</mat-label>
          <input matInput type="number" name="side" [(ngModel)]="a" />
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="getResult()">Get result</button>
      </div>

      <div *ngIf="shape === 'rectangle'">
        <mat-form-field>
          <mat-label>Type side value</mat-label>
          <input matInput type="number" name="side" [(ngModel)]="a" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Type second side value</mat-label>
          <input matInput type="number" name="side2" [(ngModel)]="b" />
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="getResult()">Get result</button>
      </div>
    </div>
  </div>
</div>
