.container {
  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    justify-content: center;
  }

  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      mat-form-field, button {
        margin: 0 20px;
      }
    }

    mat-radio-button {
      margin: 0 25px;
    }

    .rect-form {
      display: flex
    }
  }
}
