<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img src="../assets/clickmeeting.png" width="300">
</div>

<router-outlet></router-outlet>
